* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

:root {
    --blob-1: #ffcfcf;
    --blob-2: #ffcfcf;
    --blob-3: #ffcfcf;
    --bg-solid-1: #7d6565fa;
    --bg-solid-2: #7d6565fa;
}

body {
    text-shadow: 0 0 10px #db4965;
    min-height: 100vh;
    background: radial-gradient(900px 800px at 0% 25%, var(--blob-1), transparent 60%),
        radial-gradient(800px 450px at 110% 20%, var(--blob-2), transparent 65%),
        radial-gradient(650px 400px at 55% 105%, var(--blob-3), transparent 60%),
        linear-gradient(180deg, var(--bg-solid-1) 0%, var(--bg-solid-2) 100%);
}

p {
    width: 293px;
    text-align: center;
}

button {
    font-size: 20px;
    display: block;
    margin: 0 auto;
    width: 150px;
    height: 50px;
    border: none;
    background: #db4965;
    box-shadow: 10px 8px 8px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    cursor: pointer;
}

.container-main {
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.starting-light {
    width: 343px;
    display: block;
    margin: 0 auto;
}

.support {
    background: black;
    position: relative;
    top: 122px;
    display: block;
    margin: auto;
    width: 317px;
    height: 12px;
    z-index: -1;
}

.farol {
    background: black;
    padding: 10px;
    width: 65px;
    height: 218px;
    display: inline-block;
    border-radius: 10px;
    box-shadow: 15px 15px 5px rgba(0, 0, 0, 0.25);
}

.ligth-grey {
    background: #2b2b2b;
    margin-bottom: 5px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.ligth-red {
    background: #2b2b2b;
    margin-bottom: 5px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.light-rising {
    background-color: red;
}

.light-risin {
    background-color: #2b2b2b;
}

.stopwatch {
    font-size: 48px;
    margin: 10px auto;
    width: 160px;
}

#finalTime {
    font-size: 48px;
    margin: 10px auto;
    width: 160px;
}

.button {
    display: relative;
    width: 150px;
    margin: 0 auto;
    display: none;
}

.text {
    margin: 10px auto 0;
}

.p {
    margin-top: 10px;
}